Source: hive-go-client
Section: devel
Priority: optional
Maintainer: John Mullen <johnjmullen25@gmail.com>
Build-Depends: debhelper (>= 10),
               golang-any
Standards-Version: 4.1.1
Homepage: https://github.com/hive-io/hive-go-client
Vcs-Browser: https://github.com/hive-io/hive-go-client
Vcs-Git: https://github.com/hive-io/hive-go-client
XS-Go-Import-Path: github.com/hive-io/hive-go-client

Package: hioctl
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Command line interface for the HiveIO rest api rest api
