#!/usr/bin/make -f
export DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
export COMMIT=$(shell git rev-parse HEAD)
export GOCACHE=$(shell mktemp -d /tmp/gocache-XXXX)
%:
	mkdir -p bin
	go build -o bin -ldflags "-X github.com/hive-io/hive-go-client/cmd.version=${DEB_VERSION} -X github.com/hive-io/hive-go-client/cmd.commit=${COMMIT}" ./hioctl
	dh $@